@import '../../Style/styles.scss';
@import '../../Style/font.scss';

.project {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    min-height: 74vh;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 32px;
        color: #526B95
    }

    &__img {
        width: 100%;
        max-width: 500px;
        align-self: center;
    }

    &__sub-header {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0 10px 0;
    }

    &__details {
        margin-bottom: 30px;
    }

    @include tablet-view {
        padding: 75px 50px 0 50px ;
    }

    @include tablet-desktop {
        padding: 75px 100px 0 100px ;
    }

    @include desktop-view{
        padding: 75px 150px 0 150px ;
    }
}