@font-face {
    font-family: "OpenSans";
    src: url(../Assets/Font/OpenSans/OpenSans-Regular.ttf)
    
  }

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../Assets/Font/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans-light";
  src: url(../Assets/Font/OpenSans/OpenSans-Light.ttf);
}